.main-wrapper {
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  background-color: darkgray;
}
.todo-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;

}
.todo-item {
  width: 250px;
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  background-color: #cdcece;
  padding: 5px;
}